
    main {
        padding-top: var(--header-height);
    }

    .section-title {
        font-family: 'Raleway', sans-serif;
        letter-spacing: 6px;
        line-height: 35px;
    }

    .section-title.centered {
        text-align: center;
        margin: 70px 0;
        padding: 0 30px;
    }

    .section-title-decorator {
        color: #339c91;
    }

    .card-decorator {
        color: #066e8e;
    }

    .separator {
        margin: 0;
        border: 0;
        border-bottom: 1px solid #b9b7b7;
        border-bottom-left-radius: 100%;
        border-top-right-radius: 100%;
    }

    .separator.sm {
        width: 80px;
        border-bottom-width: 1.4px;
    }

    .separator.red {
        border-bottom-color: #dc6260;
    }

    .separator.blue {
        border-bottom-color: #60c8dc;
    }

    .separator.green {
        border-bottom-color: #c0dc60;
    }

    .separator.centered {
        width: 300px;
        align-self: center;
        margin: 30px 0px;
        border-bottom-width: 2px;
    }

    .menu-start {
        text-decoration: none;
        background-color: #9859b6;
        border-bottom: 4px solid #ff00ee;
        color: white;
        padding: 16px 30px;
        border-radius: 3px;
        font-weight: 500;
        margin-top: 30px;
    }

    .scrolltop-arrow {
        position: fixed;
        bottom: 0;
        right: 0;

        width: 50px;
        height: 50px;
        margin: 20px;
        border: none;
        border-radius: 100%;
        color: white;
        opacity: 0;
        background-color: rgba(0,0,0,0.8);
        transition: opacity .6s;
        cursor: pointer;
    }

    @media (min-width: 540px) {
        .section-title {
            line-height: unset;
        }
    }